[% META 
    title = 'Create/Update Schedule'
    calendar_enabled = 1
%]
<h3>Schedule for device: <strong>[% c.stash.object.appliance.device %]</strong></h3>
[%# Render the HTML::FormHandler Form %]
[% form.render %]
